.sitelayout {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.sitelayout > div {
  padding: 5px;
}

.controlPanel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.controlPanel > div {
  text-align: center;
}

.controlPanel button {
  background-color: #f00;
  border-style: outset;
  border-width: medium;
  width: 100%;
}

.controlPanel > div > * {
  background-color: #00f;
  border-color: #66f;
  color: #fff;
}

.controlPanel > div:first-child > * {
  background-color: #f00;
  border-color: #f66;
  color: #fff;
}

.controlPanel > div:first-child > p {
  background-color: transparent;
  color: #000;
}

.controlPanel > div:last-child > * {
  background-color: #0f0;
  border-color: #6f6;
  color: #000;
}

.outputArea {
  padding-left: 5px;
}

.outputArea p {
  margin: 0;
  text-align: left;
}

.outputField {
  min-height: 250px;
  min-width: 400px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.npcblock {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.npcblock .fields {
  padding: 5px;
  vertical-align: middle;
  text-align: right;
  border-right: medium groove lightgray;
  border-radius: 1px;
}

.npcblock .data {
  padding: 5px;
  vertical-align: middle;
  text-align: left;
}

.npcblock select {
  margin: 0;
}
